.root {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  padding: 0 13%;
  .chat-view,
  .input-group {
    --tw-bg-opacity: 1;
    background-color: rgb(229 231 235 / var(--tw-bg-opacity));
  }
  .chat-view {
    flex: 1;
  }
  .input-group {
    display: flex;
    flex-direction: row;
    padding: 1rem;
    input {
      background-color: #fff;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
    button {
      width: 10rem;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }
  h1 {
    font-size: 2.5rem;
  }
}
